<div class="dashboard">
  <mat-card>
    <mat-card-header class="dashboard__header">
      <mat-form-field appearance="outline" class="dashboard__field">
        <input matInput placeholder="BTC/USD" [formControl]="coin">
        <mat-error>
          <mat-icon>error_outline</mat-icon>
          <ng-container *ngIf="coin.errors as errors">
            <ng-container
              [ngTemplateOutlet]="
                          errors.required ? required : errors.containsSlash ? containsSlash : null
                        "
            ></ng-container>
            <ng-template #required>
              <span class="dashboard__error" *ngIf="coin.hasError('required')">Required field</span>
            </ng-template>
            <ng-template #containsSlash>
              <span class="dashboard__error" *ngIf="coin.hasError('containsSlash')">e.g "BTC/USD"</span>
            </ng-template>
          </ng-container>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="dashboard__subscribe" [disabled]="!coin.valid" (click)="showCoinDetails()">Subscribe</button>
    </mat-card-header>
    <mat-card-content *ngIf="showDetails">
      <app-market-price [coinName]="coin.value"></app-market-price>
      <app-historical-prices-chart [coinName]="coin.value"></app-historical-prices-chart>
    </mat-card-content>
  </mat-card>
</div>

