.dashboard {
  padding: 16px;
  margin: auto;
  max-width: 700px;

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__field {
    width: 100%;
  }

  &__error {
    margin-inline: 8px;
  }

  &__subscribe {
    margin: 0 0 20px 0;
  }
}
