<div
  echarts
  (chartInit)="onChartInit($event)"
  [options]="options"
  [initOpts]="initOptions"
  *ngIf="options.xAxis.data.length; else noTemplate"
></div>
<ng-template #noTemplate>
  <p class="placeholder">No data</p>
</ng-template>
