@use '@angular/material' as mat;
@include mat.core();

$my-app-primary: mat.$indigo-palette;
$my-app-accent: mat.$indigo-palette;

$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette($my-app-primary),
    accent: mat.define-palette($my-app-accent),
  ),
));

@include mat.all-component-themes($light-theme);
