<div class="market-details-container">
  <div>
    symbol: {{coinName.toUpperCase()}}
  </div>
  <div>
    Price: {{coinDetails?.price | currency}}
  </div>
  <div>
    Time: {{coinDetails?.time_coinapi | date}}
  </div>
</div>
